@import "../../assets/scss/variables", "../../assets/scss/reset", "../../assets/scss/common", "../../assets/scss/mixins";

.home-about {
    &-information {
        h2 {
            font-size: $title-heading;
            margin-bottom: 5px;
        }

        p {
            font-size: $paragraph-text;
            margin-right: 31px;
            padding-right: 17px;
        }
    }

    &-buttons {
        margin-top: 25px;
    }

    &-button {
        padding: 18px 25px;
        background-color: $secondary;
        color: #ffffff;
        text-align: center;
        margin-right: 15px;
        border-radius: 5px;
        font-size: 1.2rem;
    }
}